body {
	background: $es-white;
	color: $es-grey;
}

a {
	color: $es-green;
	text-decoration: none;
	-webkit-transition: all 0.05s linear;
	transition: all 0.05s linear;
	&:hover, &:focus {
		color: $es-dark-green;
	}
	.cr-footer & {
		color: $es-grey;
		&:hover, &:focus {
			color: $es-black;
		}
	}
}