@import "reset";
@import "variables";
@import "palette";
@import "helpers";
@import "base";
@import "typography";
@import "grid";
@import "titlebar";
@import "footer";

.active {
	color: $es-black;
}

.es-blog-post {
	margin: 1.5em 0 0;
	padding: 3em 1em;
	border: 1px solid $es-off-white;
	header, h2, h3, p, ul, ol {
		max-width: 30em;
		margin: 1.5em auto 0;
	}
}