.cr-titlebar {
	background: $es-off-white;
	line-height: 1em;
	font-weight: 400;
}

.cr-titlebar-title {
	margin: 1.5em 0;
	font-size: 1em;
	a {
		display: block;
		height: $cr-unit * 4;
		border-bottom: none;
		background-image: url('../images/eventstore.svg');
		background-position: center left;
		background-repeat: no-repeat;
		background-size: contain;
		text-indent: -9999em;
	}
}

.cr-titlebar-menu {
	text-align: right;
	li {
		display: inline;
		padding: 0 0 0 1em;
		a {
			display: inline-block;
			padding: 2em 0;
			border-bottom: none;
			color: $es-grey;
			&:hover, &:focus {
				color: $es-black;
			}
		}
		&.cr-titlebar-menu-toggle {
			display: none;
		}
	}
	@media screen and (max-width: $cr-grid-breakpoint), screen and (max-device-width: $cr-grid-breakpoint) {
		text-align: left;
		li {
			display: none;
			padding: 0;
			a {
				display: block;
				border-top: 1px solid $es-light-grey;
				padding: 1em 0;
			}
			&.cr-titlebar-menu-toggle {
				display: block;
				a {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					padding: 1.33333em 1em 1.33333em 5em;
					border: none;
					font-size: 1.5em;
					font-weight: 400;
				}
			}
		}
		&:hover, &:focus {
			li {
				display: block;
			}
		}
	}
}