/* Global Variables */

$cr-unit: 8px;
$cr-rem:  $cr-unit * 2;

$cr-sans-serif: aktiv-grotesk-std, 'Helvetica Neue', Helvetica, arial, sans-serif;
$cr-monospace:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

/* Grid Variables */

$cr-grid-gutter:      20px; /* Space between columns */
$cr-grid-max-width:   1200px; /* Pixel value, divisible by three */
$cr-grid-breakpoint:  800px; /* Single column layout below this value */
$cr-grid-fixed-width: 960px; /* IE-safe pixel value, divisible by three */