{% include header.html %}

<div class="es-page-banner">
	<div class="cr-grid-container">
		<div class="cr-grid-row">
			<div class="cr-grid-12col">
				<p class="cr-type-lead">Blog</p>
			</div>
		</div>
	</div>
</div>
<div class="cr-grid-container">
	<div class="cr-grid-row">
		<div class="cr-grid-9col">
			Articles
		</div>
		<div class="cr-grid-3col">
			<div class="es-sidebar">
				<h2>Recent Articles</h2>
				<ul class="cr-spaced-list">
					<li><a href="#">Cras mattis consectetur purus sit amet fermentum</a></li>
					<li><a href="#">Cras justo odio, dapibus ac facilisis in</a></li>
					<li><a href="#">Egestas eget quam. Donec sed odio dui</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% include footer.html %}