{% include header.html %}

<div class="es-banner">
	<div class="cr-grid-container">
		<div class="cr-grid-row">
			<div class="cr-grid-8col">
				<p class="cr-type-lead">The functional database with<br>Complex Event Processing in JavaScript.</p>
				<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. <a href="#">See how it works &raquo;</a></p>
			</div>
		</div>
	</div>
</div>

<div class="cr-grid-container">
	<div class="cr-grid-row">
		<div class="cr-grid-4col">
			<div class="es-home-tile">
				<h2>Open Source</h2>
				<p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor.</p>
				<p class="cr-align-right"><a href="#">Show details &raquo;</a></p>
			</div>
		</div>
		<div class="cr-grid-4col">
			<div class="es-home-tile">
				<h2>High Availability</h2>
				<p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor.</p>
				<p class="cr-align-right"><a href="#">Show details &raquo;</a></p>
			</div>
		</div>
		<div class="cr-grid-4col">
			<div class="es-home-tile">
				<h2>Blaze&trade;</h2>
				<p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor.</p>
				<p class="cr-align-right"><a href="#">Show details &raquo;</a></p>
			</div>
		</div>
	</div>
	<div class="cr-grid-row">
		<div class="cr-grid-4col">
			<div class="es-home-tile">
				<h2>Lair&trade;</h2>
				<p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor.</p>
				<p class="cr-align-right"><a href="#">Show details &raquo;</a></p>
			</div>
		</div>
		<div class="cr-grid-4col">
			<div class="es-home-tile">
				<h2>OEM</h2>
				<p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor.</p>
				<p class="cr-align-right"><a href="#">Show details &raquo;</a></p>
			</div>
		</div>
		<div class="cr-grid-4col">
			<div class="es-home-tile">
				<h2>Appliances</h2>
				<p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor.</p>
				<p class="cr-align-right"><a href="#">Show details &raquo;</a></p>
			</div>
		</div>
	</div>
</div>

{% include footer.html %}